accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyascii
anyio
async-timeout
attrs
beautifulsoup4
bert-score
blis
Bottleneck
cachetools
catalogue
certifi
charset-normalizer
click
cloudpathlib
confection
contourpy
contractions
cycler
cymem
datasets
dill
distro
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl#sha256=293e9547a655b25499198ab15a525b05b9407a75f10255e405e8c3854329ab63
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
evaluate
exceptiongroup
filelock
fonttools
frozenlist
fsspec
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
huggingface-hub
idna
inquirerpy
Jinja2
jiter
joblib
kiwisolver
langcodes
language_data
marisa-trie
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
multidict
multiprocess
murmurhash
networkx
nltk
numexpr
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
packaging
pandas
pfzy
pillow
preshed
prompt_toolkit
propcache
proto-plus
protobuf
psutil
pyahocorasick
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
pytz
PyYAML
regex
requests
rich
rsa
safetensors
scikit-learn
scipy
sentence-transformers
shellingham
six
smart-open
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
stopwordsiso
sympy
textsearch
thinc
threadpoolctl
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
triton
typer
typing_extensions
tzdata
uritemplate
urllib3
wasabi
wcwidth
weasel
wrapt
xxhash
yarl
